torch
transformers==4.44.2
accelerate>=0.34.0
sentencepiece
protobuf>=3.20.0
jsonnet
spacy>=3.7.0,<3.8.0
nltk
numpy
scipy
matplotlib
openai==0.28.0
diskcache
rapidfuzz
datasets
huggingface_hub
pandas
requests
tqdm
ftfy
ujson
fastapi
uvicorn[standard]
elasticsearch==7.9.1
dill
base58
pygments
beautifulsoup4
blingfire
wget
